/*width*/
::-webkit-scrollbar{
	width: 10px;
}
/*track*/
::-webkit-scrollbar-track{
	box-shadow: inset 0 0 10px whitesmoke;
	border-radius: 10px;
}
/*button*/
::-webkit-scrollbar-button{
	box-shadow: inset 0 0 10px brown;
	border-radius: 10px;
}
/*handle*/
::-webkit-scrollbar-thumb{
	background-color: indianred;
	border-radius: 5px;
}
/*handle on hover*/
::-webkit-scrollbar-thumb:hover{
	background-color: brown;
}
.container{
	padding: 100px 0;
}
.c_font{
	font-family: serif;
	font-size: 30px;
	font-weight: 700;
	color: brown;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.p_font{
	font-size: 20px;
	font-weight: 500;
	color: black;
}